@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
*{
    color: rgb(19, 46, 136);
}
.Navbar{
    text-align: center;
    text-decoration: none;
    padding-top: 390px;
    
    font-size: 55px;

}
.Navbar a{
    text-decoration: none;
    text-align: center;
    padding: 9px 20px;
    margin: 20px;
}
.Navbar a:hover{
    color: rgb(72, 140, 241);
    background: rgb(17, 8, 146);
    transition: 1s;
    
}